// bower:scss
// endbower

.contact h2 {
  color: #333;
}

.jig-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ccc;
  height: 60px;
  z-index: 9999;

  label {
    position: absolute;
    top: 15px;
    display: inline-block;
    width: 28%;
    text-align: right;
  }
  input {
    position: absolute;
    left: 28%;
    top: 15px;
    width: 50%;
    margin-left: 10px;
  }
  button {
    position: absolute;
    left: 78%;
    margin-left: 20px;
    top: 12px;
  }
}

button {
  position: relative;
  top: 2px;
  padding: 2px 6px;
  background-color: rgb(88, 196, 30);
  border: none;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px darken(white, 40%);
}

#jigger-doc {
  margin-top: 60px;
}

// NOTE(jordan): this could def. cause layout breakage in more complex sites
.jigger-rigged {
  display: inline-block;
  max-width: calc(100% - 50px);
}

.jigger-edit {
  position: relative;
  display: inline-block;
  padding: 0 10px;

  color: orange;

  font-size: 16px !important;

  transition: opacity 1s ease, height 1s ease;

  &.hide {
    opacity: 0;
    height: 0;
  }
}

jig-rig {
  clear: both;
  width: 100%;
  max-height: 0;
  opacity: 0;
  position: relative;
  z-index: 9999;

  display: block;

  margin: 0;
  padding: 0 20px;

  box-sizing: border-box;

  transition: max-height 1s ease, opacity 0.5s ease, margin 1s ease, padding 1s ease;

  background: #777;
  box-shadow: inset 0px 3px 10px rgba(0,0,0,0.5);

  overflow: hidden;

  * {
    position: relative;
    max-height: 0;

    transition: max-height 0.5s ease;
  }

  &.anim.anim-open {
    max-height: 9999px;
    opacity: 1;
    margin: 20px 0;
    padding: 20px 20px;

    * {
      max-height: 9999px;
      display: inline;
    }
  }

  input[type="text"] {
    width: calc(100% - 48px);
    font-size: 16px;
    color: #333;
    padding: 5px;
    border: none;
    border-radius: 2px;
  }

}
